<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>37221724460-24huhvarfo881qvp7ihvbruu70eh4tjr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.37221724460-24huhvarfo881qvp7ihvbruu70eh4tjr</string>
	<key>API_KEY</key>
	<string>AIzaSyCvKFmCYP5b9V8_wU6KnPI2uxsPn259WOc</string>
	<key>GCM_SENDER_ID</key>
	<string>37221724460</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.AshwinVivek.Raise</string>
	<key>PROJECT_ID</key>
	<string>raise-1a3b2</string>
	<key>STORAGE_BUCKET</key>
	<string>raise-1a3b2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:37221724460:ios:f1c8612e21b3a94b</string>
	<key>DATABASE_URL</key>
	<string>https://raise-1a3b2.firebaseio.com</string>
</dict>
</plist>